.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
  column-gap: 50px;
  .title {
    font-size: 55px;
  }
  .subtitle {
    font-size: 22px;
  }
}
