.root {
  padding: 10px 30px;
  background-color: #eef0f5;
  border-radius: 4px;
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    align-items: end;
    // display: flex;
    // flex-wrap: wrap;
    column-gap: 35px;
    row-gap: 10px;
    li {
      transition: all 150ms ease-in-out;
      color: blue;
      width: fit-content;
      font-size: 18px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
