.root {
  display: flex;
  flex-direction: column;
  gap: 10px;
  h3 {
    font-size: 24px;
    font-weight: 600;
  }
  ul {
    li {
      width: fit-content;

      border-radius: 4px;
      transition: all 150ms ease-in-out;
      &:hover {
        background-color: #e7edf6;
      }
    }
  }
}
