.root {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;

  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  button {
    display: flex;
    align-items: center;
    column-gap: 4px;
    &:active {
      background-color: #1d00c3;
    }
  }
  @media (width <= 768px) {
    div {
      p {
        font-size: 16px;
      }
    }
  }
}
