.root {
  overflow: hidden;
  border-radius: 20px;
  position: relative;
  min-height: 300px;
  max-height: 300px;
  display: grid;
  align-items: start;
  justify-content: center;
  &:hover {
    img {
      -webkit-filter: blur(5px);
      -moz-filter: blur(5px);
      -o-filter: blur(5px);
      -ms-filter: blur(5px);
      filter: blur(5px);
      @media (hover: none) {
        filter: none;
      }
    }
    .content {
      p {
        visibility: visible;
        opacity: 1;
      }
    }
  }
  img {
    position: absolute;
    inset: 0;
    object-fit: cover;
    width: 100%;
    z-index: -1;
    height: 100%;
    transition: all 250ms ease-in-out;
  }
  .content {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }
  p,
  .name {
    color: white;
    text-shadow: 2px 1px 1px black;
    text-align: center;
  }
  .name {
    font-weight: 800;
    font-size: 30px;
    line-height: 35px;
  }

  p {
    transition: all 250ms ease-in-out;
    opacity: 0;
    visibility: hidden;
    line-height: 25px;

    font-weight: 700;
    font-size: 20px;
  }

  @media (width <= 768px) {
    .name {
      font-size: 26px;
    }
    p {
      display: none;
    }
  }
}
