.root {
  h2 {
    margin-bottom: 10px;
  }

  .imageInner {
    width: 100%;
    overflow: hidden;
    img {
      display: block;
      height: 100%;
      aspect-ratio: 4/2;
      width: 100%;
      border-radius: 4px;
      max-height: 300px;
      object-fit: cover;
    }

    @media (max-width: 800px) {
      width: 100%;
    }
  }
}
