.link {
  display: flex;
  align-items: center;
  gap: 10px;
  img {
    border-radius: 50%;
    object-fit: cover;
  }
  .text {
    transition: color 150ms ease-in-out;
    text-wrap: nowrap;
    font-size: 18px;
    color: white;
    &:hover {
      color: rgb(255 255 255 / 0.7);
    }
  }
}
