.navItem {
  position: relative;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  column-gap: 5px;
  &:hover {
    .icon {
      rotate: 180deg;
    }
  }
  .item {
    display: flex;
    align-items: center;
    transition: color 150ms ease-in-out;
  }
  .icon {
    transition: all 150ms ease-in-out;
  }
  .links {
    max-height: 500px;
    overflow-y: auto;
    overscroll-behavior: none;
    z-index: 100;
    background-color: #1c0476;
    transition: all 150ms ease-in-out;
    display: flex;
    color: white;
    padding: 20px;
    position: absolute;
    top: 39px;
    left: 0;
    flex-direction: column;
    row-gap: 20px;
  }

  .link {
    font-size: 20px;
    display: block;
    text-shadow: 1px 1px 1px black;
    transition: color 150ms ease-in-out;
    &:hover {
      color: rgb(255 255 255 / 0.7);
    }
  }
  .visible {
    display: block !important;
    opacity: 1;
  }
  @media (width <= 1200px) {
    font-size: 14px;
  }
}
